/* index.html */
.mainContainer {
  margin: 5% 10%;
  padding: 8% 15%;
  text-align: center;
  border: 4px ridge black;
  border-radius: 2rem;
  box-shadow: 10px 10px 0 lightgray;
}

.mainText {
  font-family: Helvetica;
  font-size: 30px;
  font-style: italic;
  background-color: black;
  color: white;
}

.enterButton {
  margin: 20px;
  padding: 5px;
  font-size: 15px;
  border: 2px dotted black;
  border-radius: 7px;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.enterButton:hover {
  font-weight: bold;
  font-size: 18px;
  background-color: black;
  border: 2px dotted white;
  color: white;
}


/* test.html */
body {
  font-family: Helvetica;
}
.wrap {
  margin: 5% 10%;
  position: absolute;
  display: flex;
}
.leftContainer {
  left: 1px;
  width: 50%;
}

#explanation {
  font-size: 15px;
}

.sendButton {
  font-size: 14px;
  margin-top: 3%;
  padding: 1px 10px;
  position: relative;
}
.sendBox {
  width: 58%;
  border:2px inset lightgray;
}

#messages {
  border: 5px inset #D6AEAE;
  box-shadow: 5px 5px 3px lightgray;
  position: relative;
  width: 80%;
  height: 100px;
  margin: 4px 10px;
  padding: 5px 5px;
  opacity: 1;
  transition: 2s opacity;
}

.myvideo {
  margin: 50px 15px;
  filter: blur(40px);
  width: 80%;
}

.vidContainer {
  width: 40%;
  right: 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#confirmButton {
  background-color: pink;
  border: 2px solid pink;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#confirmButton:hover {
  background-color: white;
}

#sendMsgBtn:hover {
  background-color: ivory;
}
